
-# this 2 will render title and doc

%h1= @doc.title
%p= simple_format(@doc.content)

-# It will give all posts
= link_to "All Docs", class: "button"

-# It will help tp edit
= link_to "Fix Doc",edit_doc_path(@doc), class: "button"


-# Delete the post, and also a popup confirmation message before delete
= link_to "Trash It", doc_path(@doc),method: :delete,data: { confirm: "Are you Sure?" }, class: "button"


